body {
  position: relative;
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  margin-top: 2.5%;
}

canvas {
  position: absolute;
  right: 12vh;
  top: -195vh;
}

.container {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.logo-principal {
  width: 8vh;
  position: relative;
  display: flex;
  margin-top: 1.5%;
  margin: 1%;
  margin-left: 10%;
  z-index: 999;
}

.container-article {
  position: relative;
  margin-top: 1%;
  margin-left: 5%;
  width: 88%;
  background-color: #ff4141;
  padding: 20px;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu-item {
  cursor: pointer;
  line-height: 1;
  padding: 1em 2em;
  background: none;
  color: white;
  text-decoration: none;
  transition: 0.25s;
  display: flex;
  background-color: #ff4141;
  width: 180px;
  height: 50px;
  z-index: 999;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 80%;
  margin-top: -3.5%;
  border-radius: 25%;
  border-color: white;
}

#menu.visible {
  position: fixed;
  top: 8%;
  right: 50%;
  background-color: #ff4141;
  width: 30%;
  height: 50px;
  z-index: 998;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu-item:hover,
.menu-item:focus,
.texto:hover,
.texto:focus {
  color: #ff4141;
  background-color: white;
}

.texto {
  color: white;
  text-decoration: none;
}

.imagen-1 {
  margin-left: 20%;
}


.imagen-2 {
  position: absolute;
  width: 20%;
  margin-left: 70%;
  margin-top: -33%;
}

.text-img-2 {
  position: absolute;
  margin-top: -11%;
  margin-left: 60%;
  color: white;
  width: 35%;
  height: 30%;
  text-align: justify;
}


.sobre-nosotros {
  margin: 2%;
  text-align: justify;
  color: white;
}

.title-1 {
  margin-left: 3%;
  color: white;
}

.contacto-ws {
  position: relative;
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  left: 13%;
  margin: 3%;
  margin-top: 2%;
}

.logo-ws {
  position: relative;
  display: flex;
  width: 4%;
  margin: 2%;
  margin-top: 2%;
  left: 6%;
}

.logo-correo {
  position: relative;
  display: flex;
  width: 4%;
  margin-left: 7%;
  margin-top: 3%;
}

.contacto {
  position: relative;
  left: 30%;
  margin-top: -4%;
}

.contacto-ws {
  position: relative;
  margin-top: -5%;
  margin-left: 0.1%;
}

#text-contact {
  position: relative;
  margin-top: -15%;
  margin-left: 10%;
}

#email-contact {
  position: relative;
  display: flex;
  margin-left: 12%;
  margin-top: -2.6%;
  text-decoration: none;
  color: black;
}

#button-up {
  width: 5%;
  height: 6%;
  background: #ff4141;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20%;
  font-size: 30px;
  position: fixed;
  bottom: 50px;
  margin-left: 5%;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: translateY(100px);
}

#button-up:hover {
  background-color: white;
  color: #ff4141;
}

#button-up::before {
  content: "↑";
}

#button-up.show {
  transform: translateY(0);
}

.table {
  position: relative;
  display: flex;
  margin-left: 6%;
  margin-top: 2%;
}

.table1 {
  width: 30%;
  text-align: left;
}

.table2 {
  display: flex;
  width: 20%;
  text-align: left;
  margin-left: 5%;
}

.table1,
.table2 {
  width: 25%;
  border-collapse: collapse;
  margin-bottom: 20%;
}

.table1 td,
.table2 td {
  padding: 10px;
  border: 1px;
  text-align: justify;
}

.imagen-final {
  margin-left: 70%;
  margin-top: 2%;
  z-index: -999;
  width: 30%;
}

.ft-principal {
  position: relative;
  display: flex;
  margin-top: 5%;
}
.ft-pag {
  display: flex;
  justify-content: center;
  text-align: center;
}

.ft-pag-1 {
  margin: 0;
  width: 20%;
  margin-left: 310%;
}

.ft-pag-2 {
  margin: 0;
}

.texto-final {
  position: relative;
  display: flex;
  margin-left: 10%;
  margin-top: -30%;
  height: 30%;
  width: 30%;
  text-align: justify;
}
