body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.logo-principal {
  width: 8vw;
  position: relative;
  margin-top: 1.5%;
  margin: 1%;
  margin-left: 10%;
  z-index: 999;
}

.container-article {
  position: relative;
  margin-top: 2%;
  margin-left: 5%;
  width: 88%;
  background-color: #FF4141;
  padding: 20px;
  border-radius: 5%;
}

.menu-item {
  cursor: pointer;
  line-height: 1;
  padding: 1em 2em;
  background: none;
  color: white;
  text-decoration: none;
  transition: 0.25s;
  display: flex;
  background-color:#FF4141;
  width: 180px;
  height: 50px;
  z-index: 999;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 80%;
  margin-top: -6%;
  border-radius: 25%;
  border-color: white;
}

#menu.visible {
  position: fixed;
  top: 12%;
  right: 25%;
  background-color: #FF4141;
  width: 50%;
  height: 5%;
  z-index: 998;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  border-radius: 20%;
}

.menu-item:hover,
.menu-item:focus,
.texto:hover,
.texto:focus {
  color: #FF4141;
  background-color: white;
}

.texto {
  color: white;
  text-decoration: none;
}

.imagen-1 {
  margin-left: 20%;
}

.sobre-nosotros {
  margin: 2%;
  text-align: justify;
  color: white;
}

.title-1 {
  margin-left: 3%;
  color: white;
}

.flecha-principal {
  position: relative;
  display: flex;
  width: 10%;
  margin-left: 80%;
  margin-top: 5%;
}

.contacto-ws {
  position: relative;
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  left: 13%;
  margin: 3%;
  margin-top: 2%;
}

.logo-ws {
  position: relative;
  display: flex;
  width: 4%;
  margin: 2%;
  margin-top: 2%;
  left: 6%;
}

.contacto-ws{
  position: relative;
  margin-top: -5%;
  margin-left: 0.1%;
}

#text-contact{
  position: relative;
  margin-top: 3%;
  margin-left: 10%;
}

#email-contact{
  position: relative;
  margin-left: 12%;
  text-decoration: none;
  color: black;
}

#button-up {
  width: 5%;
  height: 6%;
  background: #FF4141;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20%;
  font-size: 30px;
  position: fixed;
  bottom: 50px;
  margin-left: 5%;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: translateY(100px);
}

#button-up:hover {
  background-color: white;
  color: #FF4141;
}

#button-up::before {
  content: "↑";
}

#button-up.show {
  transform: translateY(0);
}

.imagen-final{
  margin-left: 70%;
  margin-top: -15%;
  z-index: -999;
  width: 30%;
}